<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flight Price Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">票價通知小精靈</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">
                        <i class="bi bi-search me-1"></i> 查詢
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('record') }}">
                        <i class="bi bi-clock-history me-1"></i> 歷史紀錄
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">
     <div class="card">
        <div class="card-body">
            <h5>每日票價紀錄</h5>
            {% if tickets %}
            <table class="table table-striped table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">航班</th>
                        <th scope="col">出發地</th>
                        <th scope="col">目的地</th>
                        <th scope="col">查詢日期</th>
                        <th scope="col">出發/抵達時間</th>
                        <th scope="col">查詢到的價格</th>
                        <th scope="col" class="text-center">刪除此航班</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in tickets%}
                        {% if t.direction == "departure"%}
                        <tr>
                            <td>{{ t.flight_no }}</td>
                            <td>{{ t.flight.From }}</td>
                            <td>{{ t.flight.To }}</td>
                            <td>{{ t.flight.Date.split("-")[0] }}</td>
                            <td>{{ t.depart_time }} -> {{ t.arrive_time }} [{{ t.duration }}]</td>
                            <td>{{ t.price }}</td>
                            <td class="text-center"><a href="{{url_for('delete_ticket', flight_id=t.id)}}">✘</a></td>

                        </tr>
                        {% elif t.direction == "return"%}
                        <tr>
                            <td>{{ t.flight_no }}</td>
                            <td>{{ t.flight.To }}</td>
                            <td>{{ t.flight.From }}</td>
                            <td>{{ t.flight.Date.split("-")[1] }}</td>
                            <td>{{ t.arrive_time }} -> {{ t.depart_time }} [{{ t.duration }}]</td>
                            <td>{{ t.price }}</td>
                            <td class="text-center"><a href="{{url_for('delete_ticket', flight_id=t.id)}}">✘</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted mt-2">目前沒有紀錄。</p>
            {% endif %}

        </div>
    </div>
</div>
</body>
</html>